# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

# Define a job to be invoked later in a workflow.
jobs:
  print-hello:
    docker:
      - image: $DOCK_NODE_IMG
    steps:
      - checkout
      - run:
          name: "Print Hello"
          command: "echo Hello,"
  print-world:
    docker: 
      - image: $DOCK_NODE_IMG
    steps:
      - checkout
      - run:
          name: "Print World"
          command: "echo World!"
  print-dev-name:
     docker:
       - image: $DOCK_NODE_IMG
     steps:
      - run:
          name: "Print the Developer Name using Environment Variables"
          command: "echo The Dev Name is <<pipeline.DEV_NAME>>"


# Invoke jobs via workflows
workflows:
  print-hello-world-workflow:
    jobs:
      - print-dev-name
