# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

commands:
  print-circle-variable:
      description: "Prints out the Environment Variable"
      parameters:
        to:
           type: string
           default: $CIRCLE_WORKFLOW_ID
      steps:
         - run: echo <<parameters.to>>

# Define a job to be invoked later in a workflow.
jobs:
  print-hello:
    docker:
      - image: $DOCK_NODE_IMG
    steps:
      - checkout
      - run:
          name: "Print Hello"
          command: "echo Hello,"
  print-world:
    docker: 
      - image: $DOCK_NODE_IMG
    steps:
      - checkout
      - run:
          name: "Print World"
          command: "echo World!"
  print-dev-name:
     docker:
       - image: $LIGHT_IMG
     steps:
      - run:
          name: "Print the Developer Name using Environment Variables"
          command: "echo The Dev Name is ${DEV_NAME}"
  save-hello-world-output:
     docker:
       - image: $LIGHT_IMG
     steps:
      - run:
          name: "Saves the output Hello World to a txt file"
          command: "echo 'Hello World' > ~/output.txt"
      - persist_to_workspace:
          root: ~/
          paths:
            - "output.txt"
  print-hello-world-output:
     docker:
       - image: $LIGHT_IMG
     steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "Prints the output Hello World to a txt file"
          command: "cat ~/output.txt"
  print-branch-name:
      docker: 
         - image: $LIGHT_IMG
      steps:
          - print-workflow-id:
             to: "$CIRCLE_BRANCH"

# Invoke jobs via workflows
workflows:
  print-hello-world-workflow:
    jobs:
      - print-branch-number